{% extends 'front_office/base.html.twig' %}

{% block section %}
	<h1>Développeur Web</h1>
	{% if home %}

		<div class="row mt-sm-4">
			<div class="col-4 d-none d-sm-block d-md-block d-lg-block d-xl-block ">
				<img class="rounded-circle shadow mx-auto d-block" src="{{ asset(home.image) }}" alt="photo portrait">
				<div class="text-center" data-title="{{ home.title }}">
					<span id="typed"></span>
				</div>
			</div>
			<div class="col mt-sm-3 h5">				
					{{ home.content | raw }}			
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('textAnimation') }}

{% endblock %}
