{% extends 'back_office/base.html.twig' %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


 <div class="d-flex justify-content-between">
      <h2 class="h1">Portfolio</h2>
      <a href="{{ path('create_portfolio') }}" class="btn btn-sm btn-primary ml-3 align-self-center">Créer un portfolio</a>
  </div>
	<table class="table table-sm table-hover mt-4">
  <thead>
    <tr>
      <th>URL</th>
      <th>Créer le</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for folio in portfolio %}
    <tr>
      <td class="align-middle">{{ folio.siteUrl }}</th>
      <td class="align-middle">{{ folio.createdAt|format_datetime(pattern='MMMM Y')|capitalize }}</th>
      <td style="width: 80px" class="align-middle">
        <a href="{{ path('update_portfolio', { id: folio.id }) }}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>
        <a href="{{ path('delete_portfolio', { id: folio.id }) }}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="3">Aucun portfolio...</td>      
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}



