{% extends 'back_office/base.html.twig' %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


 <div class="d-flex justify-content-between">
      <h2 class="h1">Diplômes</h2>
      <a href="{{ path('create_degree') }}" class="btn btn-sm btn-primary ml-3 align-self-center">Créer un diplôme</a>
  </div>
	<table class="table table-sm table-hover mt-4">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Début</th>
      <th>Fin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for degree in degrees %}
    <tr>
      <td class="align-middle">{{ degree.name }}</th>
      <td class="align-middle">{{ degree.startAt|format_datetime(pattern='MMMM Y')|capitalize }}</th>
      <td class="align-middle">{{ degree.endAt ? degree.endAt|format_datetime(pattern='MMMM Y')|capitalize : 'Aujourd\'hui' }}</th>
      <td style="width: 80px" class="align-middle">
        <a href="{{ path('update_degree', { id: degree.id }) }}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>
        <a href="{{ path('delete_degree', { id: degree.id }) }}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="4">Aucun diplôme...</td>      
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}



